.contact{
    background-color: aqua;
}
.education{
    background-color: blueviolet;
}
.tech{
    background-color: chartreuse;
}
.pl{
    background-color: deeppink;
}
.others{
    background-color: red;
}
.subcontent{
    margin: 10px;
}
.content{
    padding-left: 10px;
}