<h1>My Curriculum Vitae</h1>
<img src="/assets/images/Me.PNG" alt="Thitiwut's face" title="Thitiwut Chutipongwanit">
<h2>Thitiwut Chutipongwanit</h2>
<h3>Student, Thai, 23</h3>
<div class="contact content">
    <h2><u>CONTACT</u></h2>
    <ul>
        <li>Email: thitiwut.chu@gmail.com</li>
        <li>Phone number: +66 85-030-5133</li>
        <li>Current address: Chiang Mai, Thailand</li>
    </ul>
</div>
<div class="education content">
    <h2><u>EDUCATION</u></h2>
    <p><b>College of art, Media and Technology Chiang Mai University</b></p>
    <p>Bachelor of science, Software Engineering major</p>
    <p>August 2017 – March 2021 (expected)</p>
    <p>Current cumulative GPA (4 semesters): 3.79</p>
</div>
<div class="tech content">
    <h2><u>TECHNICAL SKILS</u></h2>
    <div class="pl subcontent">
        <h3>PROGRAMMING LANGUAGES</h3>
        <p>Java and Javascript</p>
    </div>
    <div class="others subcontent">
        <h3>OTHERS</h3>
        <p>HTML5, CSS, Bootstrap, AngularJS, Spring Boot, SQL, MongoDB, Git, Linux,
            AWS, Docker</p>
    </div> 
</div>